/* selector universal */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.container{
    width: 80%;
    margin: auto;/*Central el container*/
    overflow: hidden;
}

section{
    text-align: justify;
}

.imagen img{
    width: 100%;
}

header nav ul{
    list-style: none;/*para quitar el punto de la lista*/
    overflow: hidden;
}

header nav ul li a{
    text-decoration: none;/*quita las lineas de enlace*/
    padding: 20px 20px;
    display: inline-block;
    color: #fff;
    
}

header nav ul li{
    float: left;
    /* display: block; los pone en bloque */
} 

header{
    background: #C70039;
}

header nav ul li a:hover{
    background-color: #FFC300;
    color: #000;

}

footer{
    background-color: #000;
}
footer p{
    color: #fff;
    padding: 20px;
    text-align: center;
}